{% extends "basef.html" %}
{% block content %}
    {% for item in items %}
    <div class="mb-3">
        <p>{{ item.name }}</p>
        <p>{{ item.age }}</p>
        <input type="checkbox" name="selected_items" value="{{ loop.index0 }}">
    </div>
    {% endfor %}
    
    <div class="mb-3">
        <label for="selectedItems">Select Items to Submit</label>
        <select name="selectedItems" id="selectedItems" class="form-control" multiple>
            {% for item in items %}
            <option value="{{ loop.index0 }}">{{ item.name }}</option>
            {% endfor %}
        </select>

{% endblock %}